@import '../../../styles/variables';
@import '../../../styles/mixins';

.taskItem {
  background-color: $color-white;
  border: 1px solid $color-border;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;

  @media (max-width: $breakpoint-md) {
    padding: 18px;
  }

  @media (max-width: $breakpoint-xs) {
    padding: 12px;
    border-radius: 10px;
  }
}

.title {
  @include font($size: $font-large, $weight: 600);

  @media (max-width: $breakpoint-xs) {
    @include font($size: $font-medium);
  }
}

.description {
  @include font($size: $font-medium, $color: $color-description);
  @media (max-width: $breakpoint-xs) {
    @include font($size: 12px, $line-height: 1.4, $color: $color-description);
  }
}


.buttonsRow {
  display: flex;
  gap: 10px;

  @media (max-width: $breakpoint-sm) {
    flex-direction: column;
  }
}

.button {
  @include font($size: 14px);
  align-self: flex-end;
  padding: 8px 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;

  @media (max-width: $breakpoint-xs) {
    @include font($size: 13px);
    align-self: stretch;
    width: 100%;
    padding: 10px;
  }
}