body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-width: 320px;
  overflow-x: hidden; 
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative; 
}

.App{
  max-width: 1200px;
  margin: 0 auto;
}