@mixin font($size: null, $weight: null, $line-height: null, $color: null, $family: null) {
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  color: $color;
  font-family: $family;
}