// Цвета
$color-white: #ffffff;
$color-border: #e0e0e0;
$color-description: #666666;
$color-status-bg: #e6f2ff;
$color-card-bg-primary:#f1f2f4;

// Шрифт
$font-large: 18px;
$font-medium: 14px;
$font-small: 12px;

// Брейкпоинты
$breakpoint-md: 768px;
$breakpoint-sm: 420px;
$breakpoint-xs: 320px;