body {
  min-width: 320px;
  overflow-x: hidden; 
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative; 
}
.App {
  padding: 24px 16px;
  max-width: 1000px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .App {
    padding: 16px 12px;
  }
}