@import '../../../styles/variables';

.expandButton {
  border: none;
  background: transparent;
  color: $color-description;
  cursor: pointer;
  padding: 0;
  margin-left: 6px;
  text-decoration: underline;
  
  &:hover,
  &:focus {
    color: #426080; 
    outline: none;
  }
}