@import '../../../styles/variables';

.column {
  flex: 1;
  min-width: 250px;
  background: #f9f9f9;
  border-radius: 12px;
  padding: 16px;
  list-style-type: none;
}

.title {
  font-weight: 600;
}

.taskList {
  display: flex;
  flex-direction: column;
  gap: 12px;
}